DirectoryIndex index.php index.html

RewriteEngine On

# Friendly legacy links -> query product page
RewriteRule ^product/(?!index\.(html|txt)$)([^/]+)/?$ /product?id=$1 [L,R=302]

<Files "config.php">
  Require all denied
</Files>
